<h1><%= @task.title %></h1>
<br>
<p><%= @task.details %></p>
<br>
<% if @task.completed %>
  <label class="label">This task is completed
    <input type="checkbox" onclick="return false;" checked="checked">
    <span class="checkmark"></span>
  </label>
<% else %>
    <label class="label">This task is not completed yet
    <input type="checkbox" onclick="return false;">
    <span class="checkmark" ></span>
  </label>
<% end %>
<hr/>
<p><%= link_to "Edit this task", taskEdit_path(@task) %></p>
<p><%= link_to "Back to list", tasks_path %></p>
